/* footer */

.attribution {
  margin-top: 550px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Main parts of the website */

header {
  background-color: hsl(0, 0%, 98%);
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
}

.right-side {
  width: 500px;
  height: 667px;
}

.left-side {
  width: 500px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: space-around;
}

/* Navigation Bar  */

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-item {
  display: contents;
}

.navigation-div {
  padding: 50px;
}

.navigation {
  display: flex;
}

nav {
  margin: auto 100px auto 80px;
}

.navbar-toggler:focus {
  position: relative;
  float: right !important;
}

.nav__item:hover {
  color: hsl(0, 0%, 8%);
}

.dropdown-items {
  padding: 15px;
  border-radius: 5px;
}

ul.dropdown-items {
  transition: all 3s ease-in-out;
}

/* Button  */
.button-div {
  justify-content: right;
  position: relative;
  float: right;
  margin-left: 300px;
}

.login-button {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  border: none;
}

.login-button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  padding-left: 20px;
}

.register-button {
  background-color: hsl(0, 0%, 98%);
  border-color: hsl(0, 0%, 41%);
  border: 1px;
  border-style: solid;
  text-decoration: solid;
  border-radius: 15px;
  color: hsl(0, 0%, 41%);
}

.register-button:hover {
  color: hsl(0, 0%, 8%);
  border-color: hsl(0, 0%, 8%);
}

.learn-more-button {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border-radius: 15px;
  margin: 110px auto;
  padding: 15px 35px;
}

.learn-more-button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}

/* Images - main image*/

.big-image {
  width: 500px;
}

.client-image-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Icons */
.arrow-up-icon {
  display: none;
  visibility: hidden;
}

/* // Paragraphs, text, anchor tag, etc */

a,
ul,
li {
  color: hsl(0, 0%, 41%);
  text-decoration: none !important;
}

a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
}

a:hover {
  color: hsl(0, 0%, 8%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.active {
  background-color: #4caf50;
  color: white;
}

h1 {
  margin-top: 70px;
  font-weight: 700;
  font-size: 75px;
}

.ms-auto {
  margin-left: inherit !important;
}

@media screen and (max-width: 996px) {
  .button-div {
    display: contents;
    margin: 0px;
  }

  .collapse:not(.show) {
    display: block;
  }
}
